In [1]:
import ee
import geopandas as gpd
import pandas as pd

from pph import fpcde

In [2]:
ee.Initialize()

In [3]:
# load aoi

aoi_filename = "../data/pph_region.shp"
gdf_aoi = gpd.read_file(aoi_filename)
gdf_aoi.to_crs(4326, inplace=True)

In [4]:
ee_aoi = ee.FeatureCollection(gdf_aoi.__geo_interface__).geometry()

In [5]:
q_date = [(f"{date}-04-01", f"{date}-10-31" ) for date in range(2017, 2022)]

In [6]:
gdfs = [
    fpcde.Sentinel1Extractor().extract_and_process(ee_aoi, date)
    for date in q_date
]

In [7]:
gdf = pd.concat(gdfs)

In [8]:
gdf

,system:id,y,relativeOrbitNumber_start,timestamp,year,datedif,geometry
0,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20170507T00...,48.14,34,2017-05-07 00:30:50+00:00,2017,0.0,"POLYGON ((-102.03187 48.68886, -102.07167 48.6..."
1,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20170519T00...,48.14,34,2017-05-19 00:30:51.180000067+00:00,2017,12.0,"POLYGON ((-100.76387 48.84669, -101.28481 48.7..."
2,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20170531T00...,48.14,34,2017-05-31 00:30:51+00:00,2017,12.0,"POLYGON ((-102.06913 48.68386, -102.07073 48.6..."
3,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20170612T00...,48.14,34,2017-06-12 00:30:52+00:00,2017,12.0,"POLYGON ((-100.98248 48.82052, -101.37099 48.7..."
4,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20170624T00...,48.14,34,2017-06-24 00:30:53+00:00,2017,12.0,"POLYGON ((-101.62279 47.18758, -101.62012 47.1..."
...,...,...,...,...,...,...,...
623,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20210903T01...,54.47,151,2021-09-03 01:06:02+00:00,2021,12.0,"POLYGON ((-108.10141 53.90354, -108.09230 53.9..."
624,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20210915T01...,54.47,151,2021-09-15 01:06:03+00:00,2021,12.0,"POLYGON ((-111.82958 53.51132, -111.71219 53.5..."
625,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20210927T01...,54.47,151,2021-09-27 01:06:03+00:00,2021,12.0,"POLYGON ((-110.70006 53.64320, -109.41427 53.7..."
626,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20211009T01...,54.47,151,2021-10-09 01:06:03+00:00,2021,12.0,"POLYGON ((-108.09156 53.90436, -108.09147 53.9..."
627,COPERNICUS/S1_GRD/S1B_IW_GRDH_1SDV_20211021T01...,54.47,151,2021-10-21 01:06:04+00:00,2021,12.0,"POLYGON ((-108.09151 53.90458, -108.09186 53.9..."

In [9]:
gdf.to_file("../data/pph_s1_report.shp")

C:\Users\rhamilton\AppData\Local\Temp\ipykernel_10940\505241805.py:1: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file("../data/pph_s1_report.shp")